.header {
  padding: 10px 10px 10px 10px;
  border: 10px black solid; }
  .header__logo {
    margin: 10px;
    width: 100px;
    max-width: 100%; }
  .header__link {
    font-size: 20px;
    padding: 40px;
    font-weight: bold;
    text-decoration: none;
    color: white; }

.retratoindex{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row: 1fr;
  padding: 40px 20px 20px 20px;
  gap: 30px;
}
  .retratoindex__items{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 40px; }
  .footer__contenedor {
    height: 50px; }

.galeria__descripcion {
  display: grid;
  padding: 10px 25px 20px 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 2rem; }
  .galeria__descripcion1 {
    padding: 10px 25px 20px 15px; }

.retratos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden; }
  .retratos__item {
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.formulario {
  display: flexbox; }
  .formulario1 {
    justify-content: center;
    align-items: center;
    text-align: center; }

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 940px) {
  .header {
    width: auto; }
    .header__logo {
      object-fit: cover;
      margin: 10px 10px 15px 10px;
      width: 150px;
      height: 100px; }
    .header__link {
      align-items: center; } }

/*media querie MOBILE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #494847; }

/** historia INDEX **/
.foto__descripcion {
  overflow-x: hidden;
  width: auto; }

.titulo {
  text-align: center;
  padding: 10px 10px 40px 10px;
  font-size: 40px;
  font-family: bold;
  animation: infinite 3s infinite;
  transform: translateY(50); }

.descripcion {
  justify-content: center; }

.contenedor {
  display: flex;
  padding: 10px 25px 20px 5px;
  gap: 20px;
  align-items: center;
  font-size: 30px; }

.fotos__index {
  object-fit: cover; }

/** HISTORIA **/
.galeria__historia {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; }

/** RETRATOS **/
.retratoss {
  padding: 20px; }
.parrafo__retratos {
  text-align: center;
  padding: 10px 25px 40px 25px;
  font-size: 35px; }

/** PAISAJES **/
.paisajes__section {
  display: block;
  position: relative;
  padding: 10px 25px 10px 25px;
  flex-wrap: wrap;
  overflow: hidden; }

.paisajes__contenedor {
  flex: 25%;
  justify-content: stretch;
  padding: 5px;
  gap: 1rem; }

.paisajes__parrafo {
  text-align: center;
  font-size: 35px;
  margin: 70px; }

  .paisajesss{
    display: grid;      
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
  }
  
  .paisajes__item{
      padding: 20px;
      width: 100%;
      height: 95%;
      object-fit:cover;
  }

/** CONTACTO **/
.items {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

/** MEDIA QUERY **/
/* DESKTOP */
@media screen and (min-width: 940px) and (max-width: 1400px) {
  * {
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    font-size: 40px;
    text-decoration: none;
    color: black; }
  .header__logo {
    width: 400px;
    height: 300px; }
  .galeria {
    display: grid; }
  .contenedor__galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden; }
  .galeria1 {
    width: 880px;
    height: 670px; }
  .galeria__descripcion {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden; }
  .foto__descripcion1 {
    width: 910px;
    height: 730px; }
  .retratos {
    display: flex; } }

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 940px) {
  * {
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    font-size: 40px;
    text-decoration: none;
    color: black; }
  .descripcion {
    width: auto;
    font-size: 30px;
    text-align: center; }
  .footer {
    width: auto; }
  .galeria {
    display: grid; }
  .contenedor__galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden; }
  .galeria1 {
    width: 700px;
    height: 500px; } }

/*media querie MOBILE*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  * {
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    text-decoration: none;
    color: black; }
  .header__logo {
    width: 80px;
    height: 60px; }
  .header__link {
    font-size: 15px;
    align-items: center; }
  .imagen__descripcion {
    width: 300px;
    height: 200px; }
  .titulo {
    font-size: 20px; }
  .parrafo__descripcion {
    font-size: 20px;
    text-align: center; }
  .galeria {
    display: grid; }
  .contenedor__galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden; }
  .galeria__historia{
    font-size: 20px;
    text-align: center;}
  .galeria1 {
    width: 270px;
    height: 200px; }
  .galeria__descripcion {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden; }
  .foto__descripcion1 {
    width: 300px;
    height: 230px; }
  .parrafo__retratos {
    font-size: 20px; }
  .parrafo__paisajes {
    font-size: 20px;
    margin: 20px; }
  .foto__paisaje {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
    gap: 10px; }
  .titulo {
    font-size: 30px; }
  .form {
    overflow: hidden;
    width: 300px; }
  .nombre {
    overflow: hidden; }
  .nombree {
    overflow: hidden; }
  .input {
    overflow: hidden; }
  .buton {
    overflow: hidden; } }

@keyframes infinite {
  from {
    transform: translateY(50); }
  to {
    transform: translateY(30px); } }
