.header{
    padding: 10px 10px 10px 10px;
    border: 10px black solid;

    &__logo{
    margin: 10px;
    width: 100px;
    max-width: 100%;
    }

    &__link{
        font-size: 20px;
        padding: 40px;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
}
